@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

    list-style: none;
    text-decoration: none;
    user-select: none;
}

html, body {
    scroll-behavior: smooth;
}

:root {
    /* Others Colors */
    --shadows-black: #0000003e;

    /* Mode Light */

    --light-principal-bgcolor: #f9f9f9;
    --light-graycolor: #D9D9D9;
    --light-blackcolor: #02111C;
    --light-contrastcolor-black: #293177;
    --light-extra-blackcolor: #001f36;

    /* Mode Dark */
}
ion-icon {
    color: var(--light-blackcolor);
}

body {
    overflow-x: hidden;
    background-color: var(--light-principal-bgcolor);
}

/* ========== Header ========== */

header {
    position: fixed;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 10vh;

    z-index: 100;
}

.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    font-size: 14px;
    width: 100vw;
    height: 10vh;
    
    transition: 1s;
    box-shadow: 0px 2px 10px 0px var(--shadows-black);

    background-color: var(--light-principal-bgcolor);
    /* border-radius: 5px; */
}


.nav-items {
    position: relative;
    color: var(--light-blackcolor);
    /* background-color: #02111C; */
}


.nav-items:before {
    content: "";
    position: absolute;

    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
    background-color: var(--light-blackcolor);
}
.nav-items:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15%;
    transition: 0.4s;
    font-weight: 500;
    font-size: 14px;

    border-radius: 5px;
    padding: 10px 30px;
    border: 0;
    
    color: var(--light-principal-bgcolor);
    background-color: var(--light-contrastcolor-black);
}

.btn-login:hover {
    cursor: pointer;
    background-color: var(--light-blackcolor);
    transform: scale(0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px var(--shadows-black);
}


.login-inputs {
    display: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: yellowgreen;
    width: 20vw;
    height: 20vh;
}

.area-login:hover .login-inputs {
    display: block;
}

.icon-login {
    font-size: 36px;
    color:var(--light-principal-bgcolor);
}

@media screen and (min-width: 768px) {
    .btn-menu {
        display: none;
    }
}


@media screen and (max-width: 768px) {
    .navigation-bar {
        transform: scale(0.9);
    }
    .nav-items {
        display: none;
    }
    .btn-menu {
        display: block;
    }

    .btn-login {
        transform: scale(0.8);
    }
    .sist-area {
        display: flex;
        flex-direction: column;
        transform: scale(1.5);
    }

    .cursos-area {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 50px;
    }
    .cursos-box {
        width: 100vw;
    }
}

/* Lateral Bar Button */

.btn-menu {
    position: absolute;
    right: 0;
    cursor: pointer;
    border: solid 1px var(--light-blackcolor);
    background-color: var(--light-principal-bgcolor);
    font-size: 26px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 6px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

    border-bottom: solid 2px var(--light-contrastcolor-black);
}


.titles {
    font-size: 5vw;
}

/* Section Dev Sist */

.section-imgsist {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 60vw;
}

.section-imgsist p {
    font-size: 2.5vw;
}

.sist-tls {
    font-size: 5vw;
    line-height: 85%;
    letter-spacing: -2px;
    color: #02111c;
}
.sist-area {
    display: flex;
    align-items: center;
    justify-self: start;
}



.section-devsist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    width: 70vw;
    height: 100vh;
    font-size: 120%;

}


/* Section Cursos */
.section-cursos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 5%;
}

.cursos-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    
    overflow-y: scroll;

    padding: 2vw;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    background-color: var(--light-graycolor);
    box-shadow: inset 0px 2px 10px 0px var(--shadows-black);    
    
}





.cursos-box ion-icon {
    color: var(--light-graycolor);
    /* background-color: var(--light-contrastcolor-black); */
    border-radius: 10px;
    font-size: 68px;
    padding: 10px;
}
.cursos-box p {
    color: var(--light-graycolor);
}
.cursos-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    
    width: 15vw;
    height: 25vh;
    
    transition: all 0.3s;
    font-weight: 400;
    border-radius: 10px;
    border-bottom: solid 5px var(--light-extra-blackcolor);
    color: var(--light-blackcolor);
    /* box-shadow: 0px 5px 2px 0px var(--shadows-black);     */
    background-color: var(--light-blackcolor);
}
.cursos-box:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--light-extra-blackcolor);
    /* background-color:var(--light-contrastcolor-black); */
}
.cursos-box:hover > .btn-sobre {
    display: block;
}
.btn-sobre {
    font-weight: 700;
    display: none;
    
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: var(--light-blackcolor);
}
















/* BUTTON para voltar ao topo da Página */

#btn-up {
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    font-size: 25px;
    padding: 5px;
    transition: 0.5s;
    transform: translateY(0px);
    animation: floating 2s ease-in-out infinite;
    
    color: var(--light-blackcolor);
    border: solid 2px var(--light-blackcolor);
    border-radius: 50px;
    background-color: white;
    
}

#btn-up:hover {
    animation: floating 2s ease-in-out infinite;
    transition: 0.4s;
    color: #ffffff;
    border: solid 2px var(--light-blackcolor);
    height: 60px;
    background-color: var(--light-blackcolor);

}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}
  



/* Barra de Scroll Personalizada */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--light-principal-bgcolor);
    width: 50px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-contrastcolor-black);
    border-radius: 15px;
    border: 3px solid var(--light-principal-bgcolor);  
    
}
